<%- include('./partials/head') %>

<div class="container">
    <div class="card">
        <div class="card-inner">
            <div class="front">
                <h2 class="name"><%= data.name %></h2>
                <p><%= data.bio %></p>
                <button>Hover Me</button>
            </div>
            <div class="back">
                <h1><%= data.name %></h1> <h1><%= data.surname %></h1>
                <p>I'm a web developer currently working <span>@HVA</span>to make websites. </p>
                <div class="row">
                    <div class="col">
                        <h2>HTML</h2>
                        <p>80%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>CSS</h2>
                        <p>80%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>JS</h2>
                        <p>80%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="script.js"></script>

<%- include('./partials/foot') %>
